[submodule "submodules/bash-spinner"]
	path = submodules/bash-spinner
	url = git@github.com:packy/bash-spinner.git
[submodule "submodules/cperl-mode"]
	path = submodules/cperl-mode
	url = git@github.com:packy/cperl-mode.git
