[submodule "submodules/bash-spinner"]
	path = submodules/bash-spinner
	url = git@github.com:packy/bash-spinner.git
[submodule "submodules/cperl-mode"]
	path = submodules/cperl-mode
	url = git@github.com:packy/cperl-mode.git
[submodule "submodules/morgant-tools-osx"]
	path = submodules/morgant-tools-osx
	url = https://github.com/morgant/tools-osx
[submodule "submodules/bash-git-prompt"]
	path = submodules/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
